


<div class="img_block" style="border: 2px solid #ffffff; height: 500px; width: 960px; overflow: auto;">

  <% @comic_pages.each_with_index do |comic_page, index| %>
      <div id="comic_page_img_<%= index+1 %>" style="height: 140px; width: 280px; margin: 15px 0px 0px 15px; padding:5px 2px 2px 5px; position: relative; float:left; border: 3px solid white; border-radius: 3px; text-align: center;" title="<%= comic_page.name.titleize %>">
        <div id="comic_title_<%= index+1 %>" style="text-align: center; font-weight: bold; color: white"> <%= comic_page.name.titleize %> </div>
        <%= link_to (image_tag(comic_page.panel.url, :style => "height:120px; width:180px;")) %>
      </div>
  <% end %>

</div>

